

<form action="http://metadata:6060/dataset/search" method="post">

Argument1 : <input type="text" name="arg1" value="domain=test"><br>
Argument2 : <input type="text" name="arg2" value="lastupdated<NOW"><br>
Argument3 : <input type="text" name="arg3" value="size>100"><br>

  <input type="submit" value="Submit">
</form>
